<iframe
  width="520px%"
  height="300px"
  [src]="iFrameUrl"
  *ngIf="isDisplayIFrame"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen
  style="position: absoulte; background: blue;"
></iframe>

<p>Info for developers :</p>
<p>The youtube URL in IFrame only works if urls are of type "embed".</p>
<p>
  You get it using the "share" button on YouTube, then selecting "embed" option.
</p>
<p>
  If you have a regular youtube link then you need to replace this: "/watch?v="
  with this: "/embed/".
</p>

<p>
  Regarding the input box below, if the url is of type "watch" then it auto
  converts to "embed" when activating the IFrame, the display in the input box
  doesnt change.
</p>

<div>
  <input type="text" (change)="onUrlInput($event)" />
</div>

<div>
  <button (click)="onOpenIFrame()">Open IFrame</button>
</div>
