<iframe
  width="520px%"
  height="300px"
  [src]="iFrameUrl"
  *ngIf="isDisplayIFrame"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen
  style="position: absoulte; background: blue;"
></iframe>

<p>
  Input an "embed" type of Url, you get it using the "share" button on YouTube.
</p>
<p>
  If you have a regular youtube link then replace the part of url that looks
  like this "/watch?v=" with "/embed/".
</p>

<div>
  <input type="text" (change)="onUrlInput($event)" />
</div>

<div>
  <button (click)="onOpenIFrame()">Open IFrame</button>
</div>
